extends layout

block rightButton
  a#logoutBtn.btn.btn-outline-light(role="button", href="/saml/login") SAML Login

block content
  h1= title
  p Current IDP settings for SAML:
  pre #{samlSettings}
