extends layout

block rightButton
  a#logoutBtn.btn.btn-outline-light(role="button", href="/saml/login") SAML Login

block content
  h1= title
  p Current Auth0 settings for SAML addon:
  pre #{samlSettings}
