extends layout

block gigyaScript
  script(type='text/javascript', src='https://cdns.eu1.gigya.com/js/gigya.js?apiKey=3_NGgdmfwzc5vxdnp6r3MCOzj-38fldXK-XUN09TWf-p0LQIkZbm-sfu1lNz4yQkJd')

block viewScript
  script(type='text/javascript', src='../javascripts/samlLogin.js')